p{
font: 22px Georgia, serif;
margin-top: 70px;
}

html {
  scroll-behavior: smooth;
}

body{
background-color: #b3e3e1
}

h1{
	font-size: 50px;
}

.About{
background-image: url("image3.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

.Overview{
background-image: url("image2.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

.links{
margin-top: 25px;
margin-bottom: 30px;
font-size: 25px;
}

.GameTitle1{
	background-image: url("image5.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.OnThinMap1{
	background-image: url("image1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.OnThin1{
	background-image: url("image4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}


p2{
margin-top: 20px;
font: 20px Georgia, serif;
}

.navbar {
  position: fixed;
  background-image: url("navimage.jpeg");
  font-family: Arial;
  width: 98.75%;
}


.navbar a {
  float: left;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  overflow: hidden;
}


.dropdown {
  float: left;
  overflow: hidden;
}

h2{
font-size: 50px;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; /
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f51414;
}


.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} 


