
.back{
  float: left;
  font-size: 20px;
  text-align: center;
  color: white;
}

.titl{
	background-image: url("image7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	overflow: hidden;
}

body{
	background-image: url("bindrop.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	margin: 0;
}


  input[type=text], input[type=email], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: larger;
}

button[type=submit] {
  width: 100%;
  background-color: #ebbcba;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: ProFont;
  font-size: larger;
}

button[type=submit]:hover {
  background-color: #191724;
} 

form {
	font-family: ProFont;
	font-size: larger;
	width: 50%;
}
